<!DOCTYPE html>
<html>
  <head>
    <title>SocketIO</title>
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body>
    <div id="chat">
      <div class="card" id="header">
        <p>Messaging SocketIO</p><i class="fa fa-long-arrow-left" aria-hidden="true"></i></div>
      <div id="chatroom">
        <ul>
          <li class="leftpushed">
            <div class="textarea">What'z gud bey?</div>
          </li>
          <li class="rightpushed">
            <div class="textarea">My Money!...</div>
          </li>
        </ul>
      </div>
      <div id="inpuroom"><i class="fa fa-camera" aria-hidden="true"></i><input type="text" id="message"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></div>
    </div>

    <script src='js/app.js'></script>
  </body>
</html>
